* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  background-color: #5e85bf;
}

@media (max-width: 800px) {
  .container {
    width: 100vw;
  }

  .container_menu,
  .container_one,
  .container_two,
  .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #000bdb;
  }

  .container_menu {
    justify-content: space-between;
  }

  .container_one {
    height: 500px;
  }

  .container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .one_box-1,
  .one_box-2 {
    width: 100vw;
    height: 240px;
    color: black;
    background-color: yellow;
  }

  .container_two {
    height: 600px;
  }
  .two_box-1,
  .two_box-2,
  .two_box-3 {
    width: 100vw;
    height: 190px;
    background-color: yellowgreen;
  }

  .container_footer {
    align-content: center;
    height: 100px;
    background-color: chocolate;
  }
}

/* desktop view */
@media (min-width: 801px) {
  .container_menu,
  .container_one,
  .container_two,
  .container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #000bdb;
  }

  .container_one {
    height: 260px;
  }

  .container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .one_box-1,
  .one_box-2 {
    width: 49%;
    height: 240px;
    color: black;
    background-color: yellow;
  }

  .container_two {
    height: 210px;
  }
  .two_box-1,
  .two_box-2,
  .two_box-3 {
    width: 30%;
    height: 190px;
    background-color: yellowgreen;
  }

  .container_footer {
    justify-content: center;
    height: 100px;
    /* background-color: chocolate; */
  }
  .footer_content {
    width: 150px;
    height: 60px;
    align-self: center;
    background-color: brown;
  }
}
